{% extends "base.html" %}
{% block content %}
<div class="grid2">
  <div class="card">
    <h2>Student Login</h2>
    <form method="POST" action="/login">
      <label>Username</label>
      <input name="username" required>
      <label>Password</label>
      <input name="password" type="password" required>
      <button class="btn">Login</button>
    </form>
    <div class="mt">
      <a class="btn ghost" href="/mentor/login">Mentor Login</a>
    </div>
  </div>

  <div class="card">
    <h2>Student Register</h2>
    <form method="POST" action="/register">
      <label>Username</label>
      <input name="username" required>
      <label>Password</label>
      <input name="password" type="password" required>
      <label>Mentor Code (optional)</label>
      <input name="mentor_code" placeholder="Example: ABC123">
      <button class="btn">Register</button>
    </form>
    <p class="muted mt">
      Demo Mentor: <b>mentor</b> / <b>mentor123</b> and code <b>ABC123</b>
    </p>
  </div>
</div>
{% endblock %}
